body{
  background-color: 000;
  margin: 0;
}
.nav {
  background-color: #131313;
  font-size: 1.25em;
  color: fff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav a{
  color: fff;
  text-decoration: none;
  padding: 0px 30px;
}
.nav a:hover{
  color: #dddddd;
  text-decoration: none;
}
.heading {
  color: fff;
  text-align: center;
  padding: 2.75em 1em .75em 1em;
  font-size: 2.25em;
}
.image {
  text-align: center;
}
.text{
  font-size: 1.25em;
  color: fff;
  padding: 1.25em;
  max-width: 600px;
  margin: auto;
}
.services{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  color: fff;
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}
p{
  margin: 0;
}
h1{
  margin: 0;
}
